/* Стилізація пагінації Swiper */

.swiper-pagination {
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 0;
        position: absolute;
        z-index: 10;
        bottom: 0;
}

.swiper-pagination-bullet {
        width: 32px;
        height: 16px;
        background-color: rgba(217, 217, 217, 1);
        border-radius: 8px;
        opacity: 1;
        transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
        background-color: rgba(253, 111, 0, 1);
}
